@model ProductListDto

@{
    ViewData["Title"] = "Product list";
}

<div class="text-center">
    <h1 class="display-5">@ViewData["Title"]</h1>
    <a class="nav-link text-dark" style="font-size: x-large;" asp-area="" asp-controller="Home" asp-action="ClearStock">Clear</a>
    <p class="text-end">Common cost: @Model.CommonCost</p>
</div>

<div style="margin-block: 1%;">
@{
    for (int i = 0; i < Model.Count; i++)
    {
        <div class="border product-list">
            <div>
                <span><strong>@Model.products[i].Name</strong></span>
                <span>(code: @Model.products[i].Id)</span>
            </div>

            <div>
                <span>Count: @Model.products[i].Count</span>

                @*using (Html.BeginForm("RemoveProductCount", "Home", FormMethod.Post))
                {
                    <div>
                        <input type="hidden" name="id" value="@Model.products[i].Id" />
                        <input type="text" id="count" name="count" />
                        <input type="submit" value="Remove" />
                    </div>
                }*@

                <span>Price: @Model.products[i].Price</span>
            </div>
            <div>
                @using (Html.BeginForm("DeleteProduct", "Home", FormMethod.Post))
                {
                    <input type="hidden" name="id" value="@Model.products[i].Id" />

                    <div>
                        <input type="submit" value="Delete" class="product-action-button" />
                    </div>
                }
            </div>
        </div>
    }
}
</div>
